# Sample configuration file for slimrat
#
# Should reside in /etc/slimrat.conf, or ~/.slimrat/config when relying on automatic loading.

#
# External commands
#

# Stuff ran after a completed download
#post_download = echo "foo" >> /var/log/bar

# Stuff ran after a failure
#post_failure = echo "A download failed!" | mail -s "Slimrat error" root@localhost

# Stuff ran after all downloads
#post_all = logger "Slimrat finished"


#
# Terminals
#

# gnome-terminal
#terminal = gnome-terminal -t SlimRat -e 'sh -c "%1$s ; bash"'&

# konsole
#terminal = konsole --noclose -e %1$s;
#terminal = konsole --noclose -p ShowMenuBar=false -p TabBarMode=0 -e %1$s;
#terminal = konsole --noclose -p TabTitle=SlimRat -e %1$s;
#terminal = konsole --noclose -p TabTitle=SlimRat -p ShowMenuBar=false -p TabBarMode=0 -e %1$s;

